# Set values
# On Gitlab.com for instance. Change URL with your own server
# Got to: https://gitlab.com/profile/personal_access_tokens

GITLABR_TEST_URL: https://gitlab.com
GITLABR_TEST_LOGIN: testuser
GITLABR_TEST_LOGIN_ID: 480982322
GITLABR_TEST_PASSWORD: MyPassword
GITLABR_TEST_TOKEN: totoxqUv2Qjo8M9UbEzq
COMMENTED_COMMIT: 6b9d22115a93ab009d64f857dca346c0z105d64a
GITLABR_TEST_PROJECT_NAME: testor.main
GITLABR_TEST_PROJECT_ID: 20416959
